.bg-image{
  background-image: url(../../assets/model.png), 
  linear-gradient(rgba(255, 255, 255, 0.9),rgba(241, 240, 240, 0.1));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}